In [85]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stat
import seaborn as sns

In [86]:
df=pd.read_csv("Sales_add.csv")

In [87]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [88]:
df.tail()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
17,Month-18,Region - C,Manager - B,167996,191517
18,Month-19,Region - B,Manager - A,132135,227040
19,Month-20,Region - A,Manager - B,152493,212579
20,Month-21,Region - B,Manager - A,147425,263388
21,Month-22,Region - A,Manager - C,130263,243020

In [89]:
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

There is no null values

In [90]:
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [91]:
print('There are',df.shape[0],'rows and',df.shape[1],'coloums in the dataset.')

There are 22 rows and 5 coloums in the dataset.

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

To clarify  whether there is any increase in sales after stepping in to digital marketing.

H0:Mean sales after >Mean sales before
H1:Mean sales<=Mean sales before

In [93]:
df['Sales_before_digital_add(in $)'].mean()

149239.95454545456

In [94]:
df['Sales_After_digital_add(in $)'].mean()

231123.72727272726

In [95]:
ttest,pval = stat.ttest_ind(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'],alternative="greater")
print("p-value",f"{pval:.27f}")
if pval <0.05:
  print(" Reject null hypothesis ")
else:
  print(" Accept null hypothesis ")

p-value 0.000000000000000130718400345
 Reject null hypothesis

According to the above output we can say that there is no increase in the sale.

To check whether there is any dependency between the features region and manager

H0: 'Region' and 'Manager'  independent variables
H1: 'Region' and 'Manager' dependent variables

In [96]:
df['Manager'].unique()

array(['Manager - A', 'Manager - C', 'Manager - B'], dtype=object)

In [97]:
df['Region'].unique()

array(['Region - A', 'Region - B', 'Region - C'], dtype=object)

In [98]:
man_num={'Manager - A':1,'Manager - B':2,'Manager - C':3}
reg_num={'Region - A':1,'Region - B':2,'Region - C':3}

In [99]:
Manager_Num = [man_num[item] for item in df.Manager]
Region_Num = [reg_num[item] for item in df.Region]

In [100]:
Manager_Num

[1, 3, 1, 2, 2, 2, 3, 1, 3, 2, 3, 1, 1, 1, 1, 2, 3, 2, 1, 2, 1, 3]

In [101]:
Region_Num

[1, 1, 2, 2, 3, 1, 3, 1, 2, 3, 2, 1, 2, 1, 3, 1, 1, 3, 2, 1, 2, 1]

In [102]:
df['Manager_Num']=Manager_Num
df['Region_Num']=Region_Num
df

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $),Manager_Num,Region_Num
0,Month-1,Region - A,Manager - A,132921,270390,1,1
1,Month-2,Region - A,Manager - C,149559,223334,3,1
2,Month-3,Region - B,Manager - A,146278,244243,1,2
3,Month-4,Region - B,Manager - B,152167,231808,2,2
4,Month-5,Region - C,Manager - B,159525,258402,2,3
5,Month-6,Region - A,Manager - B,137163,256948,2,1
6,Month-7,Region - C,Manager - C,130625,222106,3,3
7,Month-8,Region - A,Manager - A,131140,230637,1,1
8,Month-9,Region - B,Manager - C,171259,226261,3,2
9,Month-10,Region - C,Manager - B,141956,193735,2,3
10,Month-11,Region - B,Manager - C,159339,203175,3,2
11,Month-12,Region - A,Manager - A,178939,276279,1,1
12,Month-13,Region - B,Manager - A,145062,205180,1,2
13,Month-14,Region - A,Manager - A,151514,253131,1,1
14,Month-15,Region - C,Manager - A,147463,229336,1,3
15,Month-16,Region - A,Manager - B,177195,187305,2,1
16,Month-17,Region - A,Manager - C,140862,234908,3,1
17,Month-18,Region - C,Manager - B,167996,191517,2,3
18,Month-19,Region - B,Manager - A,132135,227040,1,2
19,Month-20,Region - A,Manager - B,152493,212579,2,1
20,Month-21,Region - B,Manager - A,147425,263388,1,2
21,Month-22,Region - A,Manager - C,130263,243020,3,1

In [103]:
from scipy.stats import chi2_contingency
table = df.drop(['Month','Manager','Region','Sales_before_digital_add(in $)','Sales_After_digital_add(in $)'],axis=1)
stat, p, dof, expected = chi2_contingency(table)
print('stat=%.3f, p=%.3f' % (stat, p))
if p < 0.05:
    print('The variables Region and Manager are dependent')
else:
    print('The variables Region and Manager are independent')

stat=7.288, p=0.998
The variables Region and Manager are independent

In the above output there is no dependency between the variables region and manager